@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Tenor+Sans&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


/* base rule  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tenor Sans", sans-serif;
}

html {
    font-size: 45%;
    color: var(--textColor);
    overflow-x: hidden;
    /* 1rem= 10px for responsive media query */
}

body {
    overflow-x: hidden;
}

h1 {
    font-family: "Tenor Sans", sans-serif;
    font-size: 4rem;
    font-weight: 600;
    text-transform: capitalize;


}

p,
li,
a,
input,
label {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.4rem;
    letter-spacing: .1rem;
    font-weight: 400;
    color: var(--textColor);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* theme (which properties are repeat then it will be here) */

:root {
    --urban-font: "Urbanist", sans-serif;
    --second-family: "Josefin Sans", sans-serif;
    --third-famiy: "Tenor Sans", sans-serif;
    --main-color: #0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    /* --bg-color: #ffffff; */
    --buttonColor: #2a2c30;
    --textColor: #1e1f23;
    --bg-color: #f7fcff;
    --heading-color: #000a19;
    --main-heading-color: #2380ea;
    --white-color: #ffffff;
    --para-color: #2c2c2c;
    --bnt-hover-bg-color: #00326b;
    --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --footer-bg-color: #040d12;
}



/* layout */


.container {
    max-width: 194rem;
    /* 142rem= 1420px */
    margin: 0 auto;
    padding: 5.6rem 2.4rem;
}

.grid {
    display: grid;
}

.grid-three-cols {
    grid-template-columns: repeat(3, 1fr);
    /* 1fr for sapce */
}

.grid-two-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-four-cols {
    grid-template-columns: repeat(4, 1fr);
}


/* module / reusable */


.bttn {
    display: inline-block;
    padding: 1.4rem 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    background-color: black;
    color: var(--white-color);
    border-radius: 0.7rem;
}

/* states */

.bttn:hover {
    background-color: var(--para-color);
    box-shadow: var(--btn-box-shadow);
    color: white;
}




/****** _____ Start navbar section _____ ******/


#visitor-count {
    position: fixed;
    top: 6rem;
    padding: 1rem 1rem;
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(182, 182, 182);
    border-radius: 7px;
    text-align: center;
    width: 8%;
    right: 80px;
    color: #333;
}
.ticker-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    font-size: 2rem;
    color: #000000;
    padding: 1rem 0;
    white-space: nowrap;
    overflow: hidden;
}
.ticker-content {
    font-size: 2rem;
    display: inline-block;
    animation: ticker 20s linear infinite;
}
@keyframes ticker {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.navbar-section {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: #fff;
    position: fixed;
    z-index: 100;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 3.5rem;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a:hover {
    color: rgb(73, 73, 73) !important;
}

.dropdown:hover .dropdown-content {
    display: block;

    & a:hover:after {
        width: 0%;
    }
}

.dropdown-content a {
    color: black;
    padding: 7px 13px;
    text-decoration: none;
    display: block;
}

.navbar-section .container {
    display: grid;
    place-items: center;
    padding: 2rem 0;
}

.mobile-nav-bttn {
    display: none;
    background-color: transparent;
    cursor: pointer;
}

.mobile-nav-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .8rem;
    border: 2.7px solid var(--heading-color);
}

.navbar {
    width: 111%;
}

.navbar-section .navbar ul {
    display: flex;
    gap: 4rem;
}

.navbar-section .grid {
    display: grid;
    gap: 5rem;
    & li a {
        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.7rem;
        display: inline-block;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -0.1rem;
            left: 0;
            width: 0%;
            border-bottom: 0.3rem solid var(--para-color);
            transition: all .3s linear;
        }
    }
    & li a:hover:after {
        width: 100%;
    }
}

.navbar-section .navbar-icons {
    display: flex;
    gap: 1rem;
    & .fa-solid {
        width: 5rem;
        aspect-ratio: 1;
        color: black;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            color: var(--supporting-color);
            background-color: var(--para-color);
            rotate: 360deg;
            transition: all .3s linear;
        }
    }
}

.add-to-cart-button .fa-solid {
    font-size: 2.7rem;
    background-color: white;
    cursor: pointer;
}

.cart {
    position: fixed;
    top: 13.5rem;
    right: -100%;
    width: 26%;
    z-index: 999;
    height: 100vh;
    padding: 1rem;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
}

.cart.active {
    right: 0;
}

.cart-title {
    padding-top: 3rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-family: var(--urban-font);
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 2rem;
}

.cart-box img {
    width: 21rem;
    height: 22rem;
}

.cart-img {
    width: 20rem;
    height: 20rem;
    object-fit: contain;
    padding: 2rem;
}

.detail-box {
    display: grid;
    row-gap: .5rem;
}

.cart-product-title {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-family: var(--urban-font);
    text-transform: uppercase;
}

.cart-price {
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
    font-family: var(--urban-font);
    font-weight: 600;
}

.cart-quantity {
    border: none;
    border-bottom: 1px solid #e8e8e1;
    width: 20%;
    text-align: center;
}

.detail-box input:focus {
    border-bottom: .7px solid;
    border-color: black;
    outline: none;
    transition: .5s;
}

.cart-remove {
    font-size: 2.5rem;
    color: black;
    cursor: pointer;
}

.cart-box .cart-remove:hover {
    border-radius: 50%;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    border-top: 1px solid gray;
}

.total-title {
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--urban-font);
}

.total-price {
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--urban-font);
    margin-left: 1rem;
}

.bttn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 1.5rem 3rem;
    border: none;
    background-color: black;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.bttn-buy:hover {
    background-color: rgb(61, 61, 61);
}

.close-cart {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    cursor: pointer;
}

/****** _____ End navbar section _____ ******/



/***** Start contact home Section *****/

/* .section-contact .container:first-child {
    padding: 5.4rem 0 2.4rem 0;
} */

.section-contact {
    padding-top: 20rem;

    & .grid {
        align-items: center;
        gap: 10.4rem;
    }

    & .section-common-heading {
        font-size: 5rem;
        text-align: center;
    }

    & .section-common-subheading {
        font-size: 2.5rem;
        font-weight: 400;
    }
}

.contact-map{
    position: relative;
    bottom: 3rem;
}

.mb-3 {
    margin-bottom: 3.2rem;
}

label {
    display: block;
    text-transform: capitalize;
    font-weight: 500;
}

.contact-content .grid {
    gap: 6.4rem;
}

input,
textarea {
    width: 100%;
    padding: 1.4rem .4rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    border: none;
    border-bottom: 1px solid #e8e8e1;

}

input:focus,
#message:focus {
    border-bottom: .7px solid;
    border-color: black;
    outline: none;
    transition: .5s;
}

::placeholder {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
}

.btn-submit {
    font-size: 1.8rem;
    border: none;
    text-transform: capitalize;
}

input:focus-visible,
textarea:focus-visible {
    outline: 0.1rem solid var(--bnt-hover-bg-color);
}

.contact-details {
    width: 35%;
    margin: 0 auto;
    padding-bottom: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: start;

    & h2 {
        font-size: 1.8rem;
        /* color: #4e4e4e; */
        color: #acacac;
        /* font-family: "Josefin Sans", sans-serif; */
        font-family: var(--urban-font);
        text-transform: uppercase;
        line-height: 1.5;
        font-weight: 400;
        padding-bottom: 1.6rem;
        letter-spacing: .3rem;
        word-spacing: .2rem;
    }
}

.contact-para p {
    font-size: 2.3rem;
    font-family: "Josefin Sans", sans-serif;
    /* font-family: var(--third-famiy) !important; */
    letter-spacing: .2rem;
    word-spacing: .2rem;
    font-weight: 400;
    word-spacing: .2rem;
    line-height: 1.4;
}

.social-icon {
    margin-top: 2rem;
    font-size: 2.7rem;

    & a {
        color: #acacac;
    }
}

.add-card-btn button {
    text-align: center;
    border: none;
    border-radius: 0;
    letter-spacing: .3rem;
    font-size: 2rem;
    padding: 2rem 5rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.error{
    padding-top: 1rem;
    visibility: hidden;
    font-size: 1.8rem;
    padding-bottom: 2rem;
    color: #b6534c;
}

.errorbtn li{
    visibility: hidden;
    font-size: 2rem;
    padding-bottom: 2rem;
    color: #b6534c;
    display: list-item;
    list-style: disc;
}

/* #error {
	-webkit-animation: scale-up-center 0.4s ease-in both;
	        animation: scale-up-center 0.4s ease-in both;
} */

/* ----------------------------------------------
 * Generated by Animista on 2024-5-12 2:22:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 /* @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  } */
  



/***** End contact home Section *****/




/****** Start Footer Section ******/

footer {
    background-color: white;
    /* box-shadow: var(--btn-box-shadow); */
    border-top: 1px solid #e8e8e1;

    & li a {
        font-size: 2rem;
        /* color: #adadad; */
        font-weight: 390;
    }
}

/* footer * {
    color: rgb(0, 0, 0);
} */

footer .grid {
    text-align: left;
    height: 40rem;
}


.footer-heading {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.5;
}

.footer-subheading {
    font-size: 2.3rem;
    padding-bottom: 2rem;
}

.footer-para {
    font-size: 1.9rem;
    margin: 1rem 0 3.2rem 0;
}


.footer-1--div {

    & .logo-brand {
        margin-top: -2rem;
    }


    & .social-footer--icon {
        display: flex;
        gap: 2.5rem;

        & .fa-brands {
            width: 5rem;
            aspect-ratio: 1;
            background-color: var(--supporting-color);
            /* color: var(--bnt-hover-bg-color); */
            color: black;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                color: var(--supporting-color);
                background-color: var(--para-color);
                rotate: 360deg;
                transition: all .3s linear;
            }
        }
    }
}

.footer-4--div input {
    width: 75%;
    margin-top: 1.5rem;
    padding: 1rem 1.5rem;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #e8e8e1;
}

.footer-4--div .fa-envelope {
    position: absolute;
    right: 11.5rem;
    bottom: 6.2rem;
    cursor: pointer;
}


input:focus {
    border-bottom: .7px solid;
    border-color: black;
    outline: none;
    transition: .5s;
}

li a {
    text-transform: capitalize;
    font-weight: 500;
    line-height: 2;
    font-size: 2rem;
}

.footer-4--div {
    position: relative;

    & .fa-solid {
        color: #adadad;
        margin-right: .9rem;
        bottom: 11rem;
    }

    & li .mail {
        text-transform: lowercase;
    }
}

.f-credits p {
    text-align: center;
    font-size: 2.4rem;
}

.footer-1--div a:hover .logo-brand:not(:invalid),
.footer-2--div a:hover,
.footer-3--div a:hover,
.footer-4--div a:hover {
    color: black;
    font-weight: 600;
    font-size: 2rem;
    transition: .5s;
}



/****** End Footer Section ******/


/****** Start media queries Section ******/


@media (min-width:992px) and (max-width:1024px) {
    html {
        font-size: 40%;
    }

    .navbar-section .container {
        padding: 1rem 5rem;
    }

    .navbar {
        width: 114%;
    }

    .navbar-section .grid {
        gap: 3rem;
    }

    .navbar-section .navbar ul {
        & li a {
            font-size: 1.8rem;
        }
    }

    .container {
        padding: 5rem 5rem;
    }



}

@media (min-width:1025px) and (max-width:1420px) {
    html {
        font-size: 40%;
    }

    .navbar-section .container {
        padding: 1rem 5rem;
    }

    .navbar {
        width: 114%;
    }

    .navbar-section .grid {
        gap: 3rem;
    }

    .navbar-section .navbar ul {
        & li a {
            font-size: 1.8rem;
        }
    }

    .container {
        padding: 5rem 5rem;
    }


}



@media (min-width: 768px) and (max-width: 900px) {

    h1 {
        font-size: 3.3rem;
    }

    label {
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.7rem;
        padding-bottom: 1rem;
    }

    p {
        font-size: 1.7rem;
        letter-spacing: .1rem;
        line-height: 1.3;
    }

    li {

        font-size: 2rem;
    }
    input{
        font-family: "Josefin Sans", sans-serif;
        font-size: 2rem;
    }

    .navbar ul {
        flex-direction: column;
        /* align-items: center; */
        text-align: left;
    }

    .navbar-section {
        position: fixed;
    }

    .navbar {
        width: 100%;
        height: 100vh;
        background-color: white;
        position: fixed;
        top: 11rem;
        left: 0;
        display: grid;
        flex-direction: column;
        justify-content: start;
        padding-left: 7rem;
        align-items: start;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
        z-index: 999;
    }

    .navbar.active {
        transform: translateX(0);
        top: 15rem;
    }


    .navbar-section .navbar ul {
        font-size: 1.9rem;
        margin-top: 3rem;
        gap: 2rem;
        display: flex;
        align-items: baseline;
        text-align: start;
        padding: 0;
        list-style: none;
    }

    .navbar-section .navbar ul li {
        margin: 1rem 0;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .mobile-nav-bttn {
        display: block;
        z-index: 1000;
        position: fixed;
        top: 6rem;
        right: 4rem;
        cursor: pointer;
    }

    .mobile-nav-icon {
        display: none;
        font-size: 2rem;
        color: #333;
    }

    .mobile-nav-icon.menu-icon {
        display: block;
    }

    .active.mobile-nav-icon.menu-icon {
        display: none;
    }

    .active.mobile-nav-icon.close-icon {
        display: block;
    }

    .container {
        max-width: 100rem;
        margin: 0 auto;
        padding: 2rem 2rem;
    }

    .add-to-cart-button {
        & .fa-solid {
            font-size: 2rem;
            position: relative;
            left: 16rem;
            cursor: pointer;
        }
    }

    .navbar-section .navbar-icons {
        & .fa-solid {
            width: 2.5rem;
        }
    }

    .navbar-section .grid-three-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .videos video {
        height: 400px;
    }

    .add-heading {
        font-size: 4rem;
        line-height: 1.8;
    }

    .add-para {
        width: 66%;
        font-size: 1.4rem;
        word-spacing: 0.2rem;
        letter-spacing: 0.2rem;
        line-height: 1.4;
    }

    .bttn {
        padding: 1.2rem 1rem;
        font-size: 1.5rem;
    }

    .add-section-content {
        padding-top: 19rem;
    }

    .add-bttn {
        margin-top: 1.5rem;
    }

    .slider-content {
        height: 50rem;
    }

    .slider-navigation .slider-bttn {
        width: 1rem;
        height: 1rem;
    }

    .slider-navigation .slider-bttn:not(:last-child) {
        margin-right: .5rem;
    }

    .featured-heading {
        font-size: 2.9rem;
        margin-top: 5rem;
        margin-bottom: 1rem;
    }

    .featured-subheading {
        font-size: 1.4rem;
    }

    .featured-para {
        font-size: 1.4rem;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 2.5rem !important;
    }

    .swiper-pagination-bullet {
        width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 5px)) !important;
        height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 5px)) !important;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 2px) !important;
    }


    .collection-title p {
        background-color: white;
        padding: 0.5rem 1rem;
        font-size: 1.4rem;
    }

    .lifestyle-heading h1 {
        font-size: 3.5rem;
    }

    .lifestyle-para {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    .lifestyle-content {
        margin-left: 3rem;
        margin-top: 0rem;
    }

    .lifestyle-subheading {
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }

    .lifestyle-subpara {
        font-size: 1.6rem;
        letter-spacing: .1rem;
        width: 80%;
        word-spacing: .1rem;
        line-height: 1.3;
        padding-bottom: 1rem;
    }

    .lifestyle-image img {
        width: 98%;
    }

    .add-video video {
        position: relative;
        width: 100%;
        height: 300px;
    }

    .add-section-titel {
        width: 100%;
        height: 300px;
    }

    .add-section-titel {
        & .add-section-heading {
            font-size: 4.7rem;
            letter-spacing: 0.3rem;
            word-spacing: .2rem;
            margin-bottom: 1rem;
            width: 79%;
            line-height: 1.2;
        }
    }

    .add-section-titel {
        & .gift-bttn {
            padding: .9rem 1.5rem;
            font-size: 1.5rem;
            letter-spacing: .2rem;
        }
    }

    .sourcing-section {
        gap: 18rem;
    }

    .sourcing-section .icon img {
        width: 22%;
    }

    .sourcing-section-div {
        & h1 {
            font-size: 1.9rem;
            letter-spacing: .1rem;
            line-height: 1.5;
            padding-bottom: 1rem;
        }
    }

    .sourcing-section-div {
        & p {
            font-size: 1.5rem;
            letter-spacing: .1rem;
            line-height: 1.2;
            font-weight: 400;
        }
    }

    .testominal-heading {
        padding-bottom: 0rem;
    }

    .swiper-stars {
        padding-top: 2rem;
        padding-bottom: 4rem;
    }

    .testominal-client-details {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .swiper-slide .testominal-image img {
        width: 6rem;
        height: 6rem;
    }

    .contact-section input,
    textarea {
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }

    .footer-1--div {
        & .logo-brand {
            margin-top: 0rem;
        }
    }

    .footer-para {
        font-size: 1.6rem;
        margin: 1rem 0 2rem 0;
    }

    .footer-heading {
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.2;
    }

    .footer-1--div {
        & .social-footer--icon {
            gap: 2.5rem;
        }
    }

    .footer-1--div {
        & .social-footer--icon {
            & .fa-brands {
                width: 4rem;
            }
        }
    }

    .footer-subheading {
        font-size: 1.7rem;
        padding-bottom: 1rem;
    }
    footer {
        & li a {
            font-size: 1.6rem;
        
        }}
        footer .grid {
            text-align: left;
            height: 26rem;
        }
        .footer-4--div input {
            width: 75%;
            margin-top: 0.3rem;
            padding: 1rem 1.5rem;
            border: 0;
            border-radius: 0;
            border-bottom: 1px solid #e8e8e1;
        }
        .footer-4--div .fa-envelope {
            position: absolute;
            right: 4.5rem;
            top: 11.5rem;
        }
        .f-credits p {
            font-size: 1.8rem;
        }

        .swiper-slide{
            width: 40rem !important;
        }
}


@media (min-width:992px) and (max-width:1023px) {
    html {
        font-size: 40%;
    }

    .navbar-section .container {
        padding: 1rem 5rem;
    }

    .navbar {
        width: 114%;
    }

    .navbar-section .grid {
        gap: 3rem;
    }

    .navbar-section .navbar ul {
        & li a {
            font-size: 1.8rem;
        }
    }

    .container {
        padding: 5rem 5rem;
    }

}


@media (min-width:1300px) and (max-width:1500px) {
    html {
        font-size: 40%;
    }

    .navbar-section .container {
        padding: 1rem 5rem;
    }

    .navbar {
        width: 114%;
    }

    .navbar-section .grid {
        gap: 3rem;
    }

    .navbar-section .navbar ul {
        & li a {
            font-size: 1.8rem;
        }
    }
    #visitor-count {
        position: fixed;
        top: 5.3rem;
        font-size: 2rem;
        padding: 1rem 1rem;
        width: 9%;
        right: 21rem;
    }
    .ticker-container {
        padding: 0 0;
    }

}

@media (min-width:1024px) and (max-width:1290px) {

    html {
        font-size: 40%;
    }

    .container {
        max-width: 140rem;
        margin: 0 auto;
        padding: 4rem 0;
        /* padding: 0 0; */
    }

    p {
        font-size: 1.6rem;
    }

    .navbar-section .container {
        padding: 1rem 16rem;
    }

    .navbar {
        width: 114%;
    }

    .navbar-section .grid {
        gap: 3rem;
    }

    .navbar-section .navbar ul {
        & li a {
            font-size: 1.5rem;
        }
    }
    .cart {
        top: 7.5rem;
    }
    #visitor-count {
        top: 10px;
        padding: .8rem 1rem;
        font-size: 2rem;
        border-radius: 7px;
        width: 9%;
        right: 15rem;
    }
    .ticker-container {
        padding: 0 0;
    }

    .footer-heading {
        font-size: 3.3rem;
    }

    .footer-subheading {
        font-size: 2rem;
    }

    footer {
        & li a {
            font-size: 1.8rem;
        }
    }

    .f-credits p {
        font-size: 2rem;
    }

    .footer-4--div {
        & .fa-solid {
            color: #adadad;
            margin-right: .9rem;
            bottom: 15rem;
        }
    }

    .footer-4--div .fa-envelope {
        right: 8.5rem;
    }

}

@media (min-width: 768px) and (max-width: 900px) {

    h1 {
        font-size: 3.3rem;
    }

    label {
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.7rem;
        padding-bottom: 1rem;
    }

    p {
        font-size: 1.7rem;
        letter-spacing: .1rem;
        line-height: 1.3;
    }

    li {

        font-size: 2rem;
    }

    input {
        font-family: "Josefin Sans", sans-serif;
        font-size: 2rem;
    }

    .navbar ul {
        flex-direction: column;
        /* align-items: center; */
        text-align: left;
    }

    .navbar-section {
        position: fixed;
    }

    .navbar {
        width: 100%;
        height: 100vh;
        background-color: white;
        position: fixed;
        top: 11rem;
        left: 0;
        display: grid;
        flex-direction: column;
        justify-content: start;
        padding-left: 7rem;
        align-items: start;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
        z-index: 999;
    }

    .navbar.active {
        transform: translateX(0);
        top: 15rem;
    }


    .navbar-section .navbar ul {
        font-size: 1.9rem;
        margin-top: 3rem;
        gap: 2rem;
        display: flex;
        align-items: baseline;
        text-align: start;
        padding: 0;
        list-style: none;
    }

    .navbar-section .navbar ul li {
        margin: 1rem 0;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .mobile-nav-bttn {
        display: block;
        z-index: 1000;
        position: fixed;
        top: 6rem;
        right: 4rem;
        cursor: pointer;
    }

    .mobile-nav-icon {
        display: none;
        font-size: 2rem;
        color: #333;
    }

    .mobile-nav-icon.menu-icon {
        display: block;
    }

    .active.mobile-nav-icon.menu-icon {
        display: none;
    }

    .active.mobile-nav-icon.close-icon {
        display: block;
    }

    .container {
        max-width: 100rem;
        margin: 0 auto;
        padding: 2rem 2rem;
    }

    .add-to-cart-button {
        & .fa-solid {
            font-size: 2rem;
            position: relative;
            left: 16rem;
            cursor: pointer;
        }
    }

    .navbar-section .navbar-icons {
        & .fa-solid {
            width: 2.5rem;
        }
    }

    .navbar-section .grid-three-cols {
        grid-template-columns: repeat(2, 1fr);
    }
    #visitor-count {
        position: fixed;
        top: 5.5rem;
        padding: .7rem 1rem;
        font-size: 2rem;
        width: 15%;
        right: 13rem;
        color: #333;
    }
    .ticker-container {
        padding: 0 0;
    }
    .ticker-content {
        font-size: 1.5rem;
    }

    .section-contact .grid-two-cols{
        grid-template-columns: repeat(1,1fr);
    }

    .section-contact {
        & .section-common-heading {
            font-size: 3rem;
            text-align: center;
        }
    }

    .section-contact {
        padding-top: 9rem;
    }

    .errorbtn li {
        visibility: hidden;
        font-size: 1rem;
        padding-bottom: 1rem;
        color: #b6534c;
        display: list-item;
        list-style: disc;
    }

    .add-card-btn button {
        text-align: center;
        border: none;
        border-radius: 0;
        letter-spacing: .3rem;
        font-size: 1rem;
        padding: 1rem 3rem;
        text-transform: uppercase;
        margin-bottom: 3rem;
    }

    .section-contact {
        & .grid {
            align-items: center;
            gap: 6.4rem;
        }
    }

    .footer-1--div {
        & .logo-brand {
            margin-top: 0rem;
        }
    }

    .footer-para {
        font-size: 1.6rem;
        margin: 1rem 0 2rem 0;
    }

    .footer-heading {
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.2;
    }

    .footer-1--div {
        & .social-footer--icon {
            gap: 2.5rem;
        }
    }

    .footer-1--div {
        & .social-footer--icon {
            & .fa-brands {
                width: 4rem;
            }
        }
    }

    .footer-subheading {
        font-size: 1.7rem;
        padding-bottom: 1rem;
    }

    footer {
        & li a {
            font-size: 1.6rem;

        }
    }

    footer .grid {
        text-align: left;
        height: 26rem;
    }

    .footer-4--div input {
        width: 75%;
        margin-top: 0.3rem;
        padding: 1rem 1.5rem;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid #e8e8e1;
    }

    .footer-4--div .fa-envelope {
        position: absolute;
        right: 4.5rem;
        top: 11.5rem;
    }

    .f-credits p {
        font-size: 1.8rem;
    }

}

@media (min-width: 320px) and (max-width: 375px) {

    h1 {
        font-size: 2rem;
    }

    label {
        font-family: "Josefin Sans", sans-serif;
        font-size: 1rem;
        padding-bottom: .8rem;
    }

    p {
        font-size: 1.7rem;
        letter-spacing: .1rem;
        line-height: 1.3;
    }

    li {

        font-size: 2rem;
    }

    input {
        font-family: "Josefin Sans", sans-serif;
        font-size: 2rem;
    }

    .navbar ul {
        flex-direction: column;
        /* align-items: center; */
        text-align: left;
    }

    .navbar-section {
        position: fixed;
    }

    .navbar-section .grid {
        & li a {
            font-size: 01rem;
        }
    }

    .navbar {
        width: 100%;
        height: 100vh;
        background-color: white;
        position: fixed;
        top: 11rem;
        left: 0;
        display: grid;
        flex-direction: column;
        justify-content: start;
        padding-left: 1rem;
        align-items: start;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
        z-index: 999;
    }

    .navbar.active {
        transform: translateX(0);
        top: 5.5rem;
    }

    .navbar-section .navbar-icons {
        & .fa-solid {
            width: 0.5rem;
        }
    }

    .cart {
        position: fixed;
        top: 5.5rem;
        right: -100%;
        width: 42%;
    }

    .cart-title {
        padding-top: 1rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: rgb(0, 0, 0);
        font-family: var(--urban-font);
    }
    .bttn-buy {
        margin: 0.5rem auto 0 auto;
        padding: .6rem .9rem;
        font-size: 1rem;
    }

    .total-price {
        font-size: 1rem;
    }

    .total-title {
        font-size: 1rem;
    }


    .navbar-section .navbar ul {
        font-size: 1.9rem;
        margin-top: 3rem;
        gap: 2rem;
        display: flex;
        align-items: baseline;
        text-align: start;
        padding: 0;
        list-style: none;
    }

    .navbar-section .navbar ul li {
        margin: 1rem 0;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .add-to-cart-button {
        & .fa-solid {
            font-size: 2rem;
            position: relative;
            left: 2.5rem;
            cursor: pointer;
        }
    }

    .navbar-section .container {
        display: grid;
        place-items: center;
        padding: 1rem 2rem;
    }

    .navbar-section .navbar-icons {
        & .fa-solid {
            width: 2.5rem;
        }
    }

    .navbar-section .grid-three-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .mobile-nav-bttn {
        display: block;
        z-index: 1000;
        position: fixed;
        top: 2.2rem;
        right: 4rem;
        cursor: pointer;
    }

    .mobile-nav-icon {
        width: 2rem;
        height: 2rem;
        border-radius: .5rem;
        border: 2px solid var(--heading-color);
    }

    .mobile-nav-icon {
        display: none;
        color: #333;
    }

    .mobile-nav-icon.menu-icon {
        display: block;
    }

    .active.mobile-nav-icon.menu-icon {
        display: none;
    }

    .active.mobile-nav-icon.close-icon {
        display: block;
    }

    .container {
        max-width: 45rem;
        /* margin: 0 auto; */
        padding: 1rem 2rem;
    }
    #visitor-count {
        position: fixed;
        top: 17px;
        padding: .4rem 1rem;
        font-size: 1rem;
        width: 18%;
        right: 14rem;
        color: #333;
    }
    .ticker-container {
        position: fixed;
        width: 100%;
        background-color: #ffffff;
        font-size: 1rem;
        color: #000000;
        padding: 0px 0;
    }
    .ticker-content {
        font-size: 1rem;
    }

    .section-contact .grid-two-cols{
        grid-template-columns: repeat(1,1fr);
    }

    .section-contact {
        & .section-common-heading {
            font-size: 3rem;
            text-align: center;
        }
    }

    .section-contact {
        padding-top: 9rem;
    }

    .errorbtn li {
        visibility: hidden;
        font-size: 1rem;
        padding-bottom: 1rem;
        color: #b6534c;
        display: list-item;
        list-style: disc;
    }

    .add-card-btn button {
        text-align: center;
        border: none;
        border-radius: 0;
        letter-spacing: .3rem;
        font-size: 1rem;
        padding: 1rem 3rem;
        text-transform: uppercase;
        margin-bottom: 3rem;
    }

    .section-contact {
        & .grid {
            align-items: center;
            gap: 6.4rem;
        }
    }

    .footer-para {
        font-size: 01rem;
        margin: 0 0;
    }

    .footer-1--div {
        & .logo-brand {
            margin-top: 1rem;
        }
    }

    .footer-heading {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1;
    }

    .footer-subheading {
        font-size: .8rem;
        position: relative;
        letter-spacing: 0;
        word-spacing: .2rem;
        padding-top: .8rem;
        padding-bottom: 0rem;
    }

    .footer-1--div {
        & .social-footer--icon {
            & .fa-brands {
                width: 2rem;
            }
        }
    }

    .social-footer--icon a {
        font-size: 1rem;
    }

    .footer-1--div {
        & .social-footer--icon {
            display: flex;
            gap: 1rem;
        }
    }

    footer {
        & li a {
            font-size: 1rem;
            /* color: #adadad; */
            line-height: 0;
            word-spacing: 0;
            letter-spacing: 0;
            font-weight: 390;
        }
    }

    .f-credits p {
        text-align: center;
        font-size: 01rem;
        letter-spacing: 0;
    }

    footer .grid {
        text-align: left;
        height: 17rem;
    }

    .footer-4--div {
        & .fa-solid {
            color: #adadad;
            margin-right: 0;
            bottom: 6.5rem;
            left: 7rem;
        }
    }

    .footer-4--div input {
        width: 75%;
        margin-top: 1.5rem;
        font-size: .9rem;
        padding: 0rem 0rem;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid #e8e8e1;
    }

    .fa-envelope:before {
        content: "\f0e0";
        font-size: 1.5rem;
    }

    .contact-bttn {
        margin-bottom: 1rem;
    }

}

@media (min-width:420px) and (max-width:767px){
    h1 {
        font-size: 2rem;
    }

    label {
        font-family: "Josefin Sans", sans-serif;
        font-size: 1rem;
        padding-bottom: .8rem;
    }

    p {
        font-size: 1.7rem;
        letter-spacing: .1rem;
        line-height: 1.3;
    }

    li {

        font-size: 2rem;
    }

    input {
        font-family: "Josefin Sans", sans-serif;
        font-size: 2rem;
    }

    .navbar ul {
        flex-direction: column;
        /* align-items: center; */
        text-align: left;
    }

    .navbar-section {
        position: fixed;
    }

    .navbar-section .grid {
        & li a {
            font-size: 01rem;
        }
    }

    .navbar {
        width: 100%;
        height: 100vh;
        background-color: white;
        position: fixed;
        top: 11rem;
        left: 0;
        display: grid;
        flex-direction: column;
        justify-content: start;
        padding-left: 1rem;
        align-items: start;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
        z-index: 999;
    }

    .navbar.active {
        transform: translateX(0);
        top: 5.5rem;
    }

    .navbar-section .navbar-icons {
        & .fa-solid {
            width: 0.5rem;
        }
    }

    .cart {
        position: fixed;
        top: 5.5rem;
        right: -100%;
        width: 42%;
    }

    .cart-title {
        padding-top: 1rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: rgb(0, 0, 0);
        font-family: var(--urban-font);
    }
    .bttn-buy {
        margin: 0.5rem auto 0 auto;
        padding: .6rem .9rem;
        font-size: 1rem;
    }

    .total-price {
        font-size: 1rem;
    }

    .total-title {
        font-size: 1rem;
    }


    .navbar-section .navbar ul {
        font-size: 1.9rem;
        margin-top: 3rem;
        gap: 2rem;
        display: flex;
        align-items: baseline;
        text-align: start;
        padding: 0;
        list-style: none;
    }

    .navbar-section .navbar ul li {
        margin: 1rem 0;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .add-to-cart-button {
        & .fa-solid {
            font-size: 2rem;
            position: relative;
            left: 2.5rem;
            cursor: pointer;
        }
    }

    .navbar-section .container {
        display: grid;
        place-items: center;
        padding: 1rem 1rem;
    }

    .navbar-section .navbar-icons {
        & .fa-solid {
            width: 2.5rem;
        }
    }

    .navbar-section .grid-three-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .mobile-nav-bttn {
        display: block;
        z-index: 1000;
        position: fixed;
        top: 2.4rem;
        right: 10rem;
        cursor: pointer;
    }

    .mobile-nav-icon {
        width: 2rem;
        height: 2rem;
        border-radius: .5rem;
        border: 2px solid var(--heading-color);
    }

    .mobile-nav-icon {
        display: none;
        color: #333;
    }

    .mobile-nav-icon.menu-icon {
        display: block;
    }

    .active.mobile-nav-icon.menu-icon {
        display: none;
    }

    .active.mobile-nav-icon.close-icon {
        display: block;
    }

    .container {
        max-width: 45rem;
        /* margin: 0 auto; */
        padding: 1rem 2rem;
    }
    #visitor-count {
        position: fixed;
        top: 18px;
        padding: .5rem 1rem;
        font-size: 1rem;
        width: 14%;
        right: 17rem;
        color: #333;
    }
    .ticker-container {
        position: fixed;
        width: 100%;
        background-color: #ffffff;
        font-size: 1rem;
        color: #000000;
        padding: 0px 0;
    }
    .ticker-content {
        font-size: 1rem;
    }

    .section-contact .grid-two-cols{
        grid-template-columns: repeat(1,1fr);
    }

    .section-contact {
        & .section-common-heading {
            font-size: 3rem;
            text-align: center;
        }
    }

    .section-contact {
        padding-top: 9rem;
    }

    .errorbtn li {
        visibility: hidden;
        font-size: 1rem;
        padding-bottom: 1rem;
        color: #b6534c;
        display: list-item;
        list-style: disc;
    }

    .add-card-btn button {
        text-align: center;
        border: none;
        border-radius: 0;
        letter-spacing: .3rem;
        font-size: 1rem;
        padding: 1rem 3rem;
        text-transform: uppercase;
        margin-bottom: 3rem;
    }

    .section-contact {
        & .grid {
            align-items: center;
            gap: 6.4rem;
        }
    }

    .footer-para {
        font-size: 01rem;
        margin: 0 0;
    }

    .footer-1--div {
        & .logo-brand {
            margin-top: 1rem;
        }
    }

    .footer-heading {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1;
    }

    .footer-subheading {
        font-size: .8rem;
        position: relative;
        letter-spacing: 0;
        word-spacing: .2rem;
        padding-top: .8rem;
        padding-bottom: 0rem;
    }

    .footer-1--div {
        & .social-footer--icon {
            & .fa-brands {
                width: 2rem;
            }
        }
    }

    .social-footer--icon a {
        font-size: 1rem;
    }

    .footer-1--div {
        & .social-footer--icon {
            display: flex;
            gap: 1rem;
        }
    }

    footer {
        & li a {
            font-size: 1rem;
            /* color: #adadad; */
            line-height: 0;
            word-spacing: 0;
            letter-spacing: 0;
            font-weight: 390;
        }
    }

    .f-credits p {
        text-align: center;
        font-size: 01rem;
        letter-spacing: 0;
    }

    footer .grid {
        text-align: left;
        height: 17rem;
    }

    .footer-4--div {
        & .fa-solid {
            color: #adadad;
            margin-right: 0;
            bottom: 6.5rem;
            left: 7rem;
        }
    }

    .footer-4--div input {
        width: 75%;
        margin-top: .5rem;
        font-size: .5rem;
        padding: 1rem 0rem;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid #e8e8e1;
    }

    .fa-envelope:before {
        content: "\f0e0";
        font-size: 1.5rem;
    }


}